<!DOCTYPE html>
<html>
<head>
    <title>Analysis</title>
	<meta charset="utf-8" />
    <style>
        body{
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div>
        <div style="margin-left:0px; margin-right:0px;">
            
        </div>
        <div>
            <div style="margin-left:auto;margin-right:auto;width:300px;height:300px;">
                <canvas class="chart chart-doughnut" chart-data="data" chart-labels="labels"
                        chart-options="options" chart-colors="colors" width="300" height="300"></canvas>
            </div>

        </div>
    </div>
    <div class="col-sm-2 col-sm-offset-5 text-center want-more" style="margin-top: 30px;">
        <button><a href="http://www.veriato.com/" target="_blank">Want More Info ?</a></button>
    </div>
</body>
</html>
